$body-bg: #064e3b;
$active-color: #dc2626;
$color-button: #059669;
$text-color: #10b981;
$white: #fff;
$black: #000;
$txt-color: #71717a;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$font-family: "Montserrat", sans-serif;
